<server description="MicroProfile Tutorial Liberty Server">
    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>cdi-4.0</feature>
        <feature>mpOpenAPI-3.1</feature>
    </featureManager>
    
    <variable name="http.port" defaultValue="5050" />
    <variable name="https.port" defaultValue="5051" />
    
    <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <application location="payment.war" contextRoot="${app.context.root}"/>

</server>